.footer{
    background:#4F4F4F;
    height:180px;
    width:100vw; 
    display:flex;
    justify-content: center;
    align-items: center;

}
.footer-container{
    width: 15vw;
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-header{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    
}
.circle-icon{
    padding: 8px;
    background: #FEFEFE;
    border-radius: 50%;
}
.social-icons>a>i{
    color:#555555;
}
.copyright{
    background-color: #6EA54A;
    height:50px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 3rem;
}
#contact-text{
     text-decoration: none;
     color:white;
}